.cart {
    padding: 5px 15px;
    background: white;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

.photo {
    height: 100px;
    border-radius: 10px;
    margin-right: 5px;
}

.single_photo {
    border-radius: 10px;
}

.main__link {
    color: black;
    text-decoration: none;
    transition: 0.1s;
}

.main__link:hover {
    opacity: 0.8;
}

.inverse {
    justify-content: space-between;
}


